<%= form_for(@tweet, url: choose_new_or_edit) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tweet.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :ひとりごと %>
  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <%= f.submit "つぶやく", class: 'btn btn-primary btn-block' %>
<% end %>
<br>
<!--<%= link_to "ひとりごとを思い出す", tweets_path %>-->